<h1>Editing Patient</h1>

<%= render "form", patient: @patient %>

<br>

<div>
  <%= link_to "Show this patient", @patient, class: "button" %> |
  <%= link_to "Back to patients", patients_path, class: "button secondary" %>
</div>
